@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Custom CSS Variables */
:root {
  /* Colors */
  --dark-blue: #1f2937;
  --white: #f9faf8;
  --grey: #e5e7eb;
  --blue: #3882f6;

  /* Font sizes */
  --text-xl: 48px;
  --text-lg: 36px;
  --text-md: 24px;
  --text-sm: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
