@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 
    Custom CSS Variables 
    src: https://www.w3schools.com/css/css3_variables.asp
*/
:root {
  /* Colors */
  --dark-blue: #1f2937;
  --white: #f9faf8;
  --grey: #e5e7eb;
  --blue: #3882f6;

  /* Font sizes */
  --text-xl: 48px;
  --text-lg: 36px;
  --text-md: 24px;
  --text-sm: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

a,
.article p {
  color: var(--grey);
  font-size: var(--text-sm);
}

ul {
  list-style: none;
}

button {
  width: 130px;
  height: 37px;
  border: none;
  border-radius: 7px;

  font-weight: 700;
  font-size: var(--text-sm);
}

q,
cite {
  color: var(--dark-blue);
}

q {
  font-size: var(--text-lg);
  font-style: italic;
  font-weight: 100;
  quotes: none;
}

cite {
  display: block;
  font-size: var(--text-md);
  font-style: normal;
  font-weight: 700;
  text-align: right;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.hero,
.footer {
  background-color: var(--dark-blue);
}

/* Flex group */
.header,
.content,
.nav ul,
.article,
.list,
.card,
.cta,
.cta-box {
  display: flex;
}

.header {
  padding: 19px 0;
  justify-content: space-between;
  align-items: center;
}

.logo,
.article h2 {
  color: var(--white);
}

.logo {
  font-size: var(--text-md);
}

.nav ul {
  gap: 16px;
}

.content {
  padding: 100px 0 120px 0;
  gap: 32px;
  align-items: flex-start;
}

.article {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.article h2 {
  font-size: var(--text-xl);
  font-weight: 700;
}

.hero-btn,
.cta-box {
  background-color: var(--blue);
  color: var(--white);
}

.content .img-container {
  flex: 1.12;
  height: 237px;
}

.content .img-container .img {
  width: 100%;
  height: 237px;
}

.information,
.cta {
  background-color: var(--white);
}

.information {
  padding: 48px 0 120px 0;
}

.information h3,
q,
cite {
  color: var(--black);
}

.information h3 {
  margin-bottom: 48px;
  text-align: center;
  font-size: var(--text-lg);
  font-weight: 700;
}

.list {
  justify-content: center;
  gap: 48px;
}

.card {
  width: 168px;
  flex-direction: column;
}

.card .img-container {
  width: 100%;
  height: 168px;
  border-radius: 16px;
  border: 4.5px solid var(--blue);
  overflow: hidden;
}

.card .img-container img {
  height: 100%;
}

.card p {
  text-align: center;
  color: var(--dark-blue);
  font-size: var(--text-sm);
}

.quote {
  padding: 138px 0 98px 0;
  background-color: var(--grey);
}

.quote .container {
  padding: 0 125px;
}

.cta {
  height: 350px;
  justify-content: center;
  align-items: center;
}

.cta-box {
  width: 100%;
  padding: 53px 120px;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
}

.cta-box h4 {
  margin-bottom: 8px;
  font-size: var(--text-md);
  color: var(--white);
}

.cta-box p {
  font-size: var(--text-sm);
  color: var(--grey);
}

.cta-btn {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
}
